
.-section{
    width: 100%;
}
/* Home Title */

.-homeTitle .textCaption{
    text-align: center;
    color: #DC4F72!important;
    text-transform: uppercase;
}
.-homeTitle h2{
    text-align: center;
    line-height: 100%;
}
.-homeTitle .textBody{
    text-align: center;
}





/* HERO BANNER */
.hero{
    padding-top: 80px;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
body.-lightMode .hero{
    background-image: linear-gradient(90deg, #fff, rgba(255, 255, 255, 0.92)), url('../img/banner.jpg');
}
body.-darkMode .hero{
    background-image: linear-gradient(90deg, #131617, rgba(255, 255, 255, 0.92)), url('../img/banner.jpg');
}

.hero__content p{
    font-size: 1.25rem;
    line-height: 1.75rem;
}
.hero__illust img{
    max-width: 100%;
    height: auto;
}

/* FEATURES */
.feature{
    padding-top: 64px;
    padding-bottom: 64px;
}
body.-lightMode{
    background-color: white;
}
body.-darkMode{
    background-color: #131617;
}
.feature__tilte{
    max-width: 750px;
}
.feature__featureItem{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 48px 32px;
    text-align: center;

    border-radius: 6px;
    cursor: pointer;

    transition: all 0.5s;
}
.feature__featureItem:hover{
    transform: translateY(-0.5rem)
}

body.-lightMode .feature__featureItem{
    border: 1px solid #F7F9FC;
    background-color: #F7F9FC;
}
body.-darkMode .feature__featureItem{
    border: 1px solid #191C1D;
    background: #191C1D;
}

body.-lightMode .feature__featureItem:hover{
    background-color: #fff;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.09);
}
body.-darkMode .feature__featureItem:hover{
    background-color: #131617;
    border: 1px solid #333;
}

.feature__featureItem img{
    width: 72px;
    height: 72px; 
}
body.-lightMode .feature__featureItem h5{
    color: #2C3038;
}
body.-darkMode .feature__featureItem h5{
    color: #EEE;
}

/* ABOUT */
.about{
    padding-top: 80px;
    padding-bottom: 64px;
}
body.-lightMode .about{
    background-color: #f6f9fc;
}
body.-darkMode .about{
    background-color: #1a1c1d;
}
.about__content .textCaption{
    color: #DC4F72!important;
    margin-bottom: 8px;
}

.about .btnPrimary{
   font-size: 14px;
   font-weight: 700; 
   text-transform:uppercase;
}

/* NUMBER */
.number{
    padding-top: 24px;
    padding-bottom: 64px;
}
body.-lightMode .number{
    background-color: #f6f9fc;
}
body.-darkMode .number{
    background-color: #1a1c1d;
}
.number__item{
    padding: 2rem;
    border-radius: 6px;
    box-shadow: 1px 5px 7.5px 0px rgba(14, 13, 13, 0.20);
}
body.-lightMode .number__item{
    border: 1px solid #F8F9FA; /* light mode */
    background: #FFF;

    transition: all 0.2s;
}
body.-darkMode .number__item{
    border: 1px solid #333; /* dark mode */
    background: #131617;
}

body.-lightMode .number__item:hover{
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.09)
}

.number__bigNum{
    font-size: 3.125rem;
    font-weight: 700;
    color: #DC4F72!important;
}

/* INFO */
.info {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.33)),
      url('../img/bg.jpg');
    background-size: cover;
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: center;
    background-attachment: fixed;
    min-height: 480px;
    display: grid;
    align-items: center;
    padding: 2rem 0;
  }
.info__content {
max-width: 550px;
}
.info .info__content h2 {
color: #fff;
font-size: 30px;
font-weight: 700;
}
.info .info__content p {
color: #fff;
font-size: 1rem;
line-height: 24px;
margin-top: 1.5rem;
margin-bottom: 3rem;
}
.info .info__content button {
font-weight: 700;
padding: 10px 30px;
}

/* FAQs */
body.-lightMode .FAQs {
    background-color: #F7F9FC;
}
body.-darkMode .FAQs {
    background-color: #1a1c1d;
}

.FAQs__title {
color: #dc4f72 !important;
text-transform: uppercase;
margin-bottom: 0.3125rem;
}
.FAQs .FAQs__header .my-3 p:first-of-type {
display: inline-block;
width: 700px;
text-align: center;
z-index: 11;
}
.FAQs__left img {
border-radius: 5px;
transition: all 0.5s;
}
.FAQs__left img:hover {
transform: translateY(-0.5rem);
}
.FAQs__left .card {
width: 625px;
padding: 25px 50px 25px 20px;
}
.FAQs__right button {
display: flex;
max-width: 1000px;
justify-content: space-between;
}
.FAQs__right .card {
border: none;
border-radius: 6px;
padding-bottom: 15px;
}
.FAQs__right .card button {
text-decoration: none;
color: #131617;
border-radius: 6px;
}

.accordion .card{
padding: 16px 0;
margin-bottom: 16px;
border-radius: 6px;
}
body.-lightMode .accordion .card{
background-color: white;
border: 1px solid #EEE;

}
body.-darkMode .accordion .card{
background-color: #131617;
border: 1px solid #333;
}

.accordion .card-header{
border:none;
}
body.-lightMode .accordion .card-header{
background-color: white;
}
body.-darktMode .accordion .card-header{
background-color: rgb(0,0,0);
}


.accordion .card-header button{
    padding: 0;
}

.accordion .card-header button span{
    font-size: 1.25rem!important;
}
body.-lightMode .accordion .card-header button span,
body.-lightMode .accordion .card-header button i{
    color: #2C3038;
}
body.-darkMode .accordion .card-header button span,
body.-darkMode .accordion .card-header button i{
    color: #EEE;
}

.accordion .card-body{
    padding: 0 20px;
}
body.-lightMode .accordion .card-body {
    color: rgb(90, 90, 90);
}
body.-darkMode .accordion .card-body {
    color: rgb(183, 183, 183)
}





/* BACK TO TOP */
.backToTop{
    width: 48px;
    height: 48px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 0;
    bottom: 0;

    background: #DC4F72;
    border-radius: 4px;
    color: white;
    text-decoration: none;
    visibility: hidden;
    opacity: 0;
    transition: all .2s;
}

.backToTop:hover{
    background: #c73559;
    color: white;
    opacity: 1;

}
.cd-top--is-visible { 
    visibility: visible;
    opacity: 0.7;
  }